@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
:root {
  --background: #FF9E00;
=======
/* :root {
  --background: #ffffff;
>>>>>>> eaf078a61a5d7e93ab6b3c219977c769f14530d2
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
